//settings
@import "../../settings/app.colors.style";
@import "../../settings/app.settings.style";

.card {
  display: flex;
  flex-direction: column;

  &:hover {
    .card-image-span {
      &:nth-child(1) {
        transform: rotate(-2deg);
        left: -4px;
        bottom: -2px;
      }

      &:nth-child(2) {
        opacity: 0.59;
        transform: rotate(-4deg);
        left: -2px;
      }

      &:nth-child(3) {
        opacity: 0.39;
        transform: rotate(-1deg);
        top: -7px;
        left: 9px;
      }

      &:nth-child(4) {
        opacity: 0.39;
        transform: rotate(4deg);
        left: 3px;
        top: -3px;
      }
    }
  }

  &-image-box {
    height: 250px;
    margin-bottom: 20px;
    position: relative;
  }

  &-image-span {
    background: $background-primary;
    border-radius: $border-radius-sm;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: normal;
    transition: 0.3s ease-in;
    z-index: 1;
  }

  &-image {
    border-radius: $border-radius-sm;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
  }
}
