//settings
@import "../../settings/app.settings.style";

.logo {
  &-image {
    min-width: 100px;
    max-width: 100px;
    min-height: 43px;
    max-height: 43px;

    @media screen and (min-width: $screen-md-min) {
      min-width: 136px;
      max-width: 136px;
    }
  }
}
