//settings
@import "../../settings/app.colors.style";
@import "../../settings/app.settings.style";

.section {
  background-color: $background-light;

  &.small {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &.large {
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (min-width: $screen-lg-min) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  &.before-hr {
    position: relative;

    &:before {
      content: '';
      height: 1px;
      width: 100%;
      background: $background-gray-dark;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  &.after-hr {
    position: relative;

    &:after {
      content: '';
      height: 1px;
      width: 100%;
      background: $background-gray-dark;
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &.sticky {
    position: sticky;
    top: 181px;
    z-index: 10;

    &.box-shadow {
      box-shadow: $box-shadow-primary;
    }

    @media screen and (min-width: $screen-tin) {
      top: 131px;
    }

    @media screen and (min-width: $screen-sm-min) {
      top: 75px;
    }

    @media screen and (min-width: $screen-md-min) {
      top: 84px;
    }
  }

  &.banner {
    background: url("../../assets/images/banner.png") no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 100px;

    @media screen and (min-width: $screen-tin) {
      padding-top: 150px;
    }

    @media screen and (min-width: $screen-sm-min) {
      padding-top: 100px;
    }
  }
}
