//colors
$darker:       #161616;
$dark:         #1C1C1C;
$light:        #ffffff;
$primary:      #1F35D4;
$accent:       #E160E4;
$accent-light: #EF94F1;
$gray:         #F5F6FD;
$gray-dark:    #E5E8FE;

//text
$text-darker:  $darker;
$text-dark:    $dark;
$text-primary: $primary;
$text-light:   $light;

//background
$background-primary:   $primary;
$background-accent:    $accent;
$background-gray:      $gray;
$background-gray-dark: $gray-dark;
$background-light:     $light;
$background-dark:      $dark;
